<a href="https://colab.research.google.com/github/manognansr/ML-Practice/blob/main/3.%20Practice%20exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

concat and practice project

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
north_america = pd.read_csv('north_america_2000_2010.csv', index_col = 0)
south_america = pd.read_csv('south_america_2000_2010.csv', index_col = 0)

In [ ]:
north_america

           2000    2001    2002    2003  ...    2007  2008    2009    2010
Country                                  ...
Canada   1779.0  1771.0  1754.0  1740.0  ...  1741.0  1735  1701.0  1703.0
Mexico   2311.2  2285.2  2271.2  2276.5  ...  2261.4  2258  2250.2  2242.4
USA      1836.0  1814.0  1810.0  1800.0  ...  1798.0  1792  1767.0  1778.0

[3 rows x 11 columns]

In [ ]:
south_america

         2000  2001  2002  2003  2004  2005  2006  2007  2008  2009    2010
Country
Chile    2263  2242  2250  2235  2232  2157  2165  2128  2095  2074  2069.6

vertically merging dataframes

In [ ]:
#concatenation
americas = pd.concat([north_america, south_america])
americas

           2000    2001    2002    2003  ...    2007  2008    2009    2010
Country                                  ...
Canada   1779.0  1771.0  1754.0  1740.0  ...  1741.0  1735  1701.0  1703.0
Mexico   2311.2  2285.2  2271.2  2276.5  ...  2261.4  2258  2250.2  2242.4
USA      1836.0  1814.0  1810.0  1800.0  ...  1798.0  1792  1767.0  1778.0
Chile    2263.0  2242.0  2250.0  2235.0  ...  2128.0  2095  2074.0  2069.6

[4 rows x 11 columns]

storing test results - practice project

From the raw data below, create a data frame:

‘first_name’: [‘Jason’, ‘Molly’, ‘Tina’, ‘Jake’, ‘Amy’], ‘last_name’: [‘Miller’, ‘Jacobson’, “.”, ‘Milner’,‘Cooze’],

‘age’: [42, 52, 36, 24, 73], ‘preTestScore’: [4, 24, 31, “.”, “.”],’postTestScore’: [“25,000”, “94,000”, 57, 62, 70]

In [16]:
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
      'last_name': ['Miller', 'Jacobson', ".", 'Milner','Cooze'],
      'age': [42, 52, 36, 24, 73], 
      'preTestScore': [4, 24, 31, ".", "."],
      'postTestScore': ["25,000", "94,000", 57, 62, 70]}
d1 = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'] )
print(d1)

  first_name last_name  age preTestScore postTestScore
0      Jason    Miller   42            4        25,000
1      Molly  Jacobson   52           24        94,000
2       Tina         .   36           31            57
3       Jake    Milner   24            .            62
4        Amy     Cooze   73            .            70

perform the following tasks on data
1. Save the data frame into a .csv file as project.csv
2. Read the project.csv file and print the data frame.
3. Read the project.csv file without column heading.
4. Read the project.csv file and make two index columns, namely, ‘First Name’ and ‘Last Name’.
5. Print the data frame in a Boolean form as True or False. True for Null/ NaN values and false for non-null values.
6. Read the data frame by skipping the first 3 rows and print the data frame.

In [17]:
#loading data to
d1.to_csv("Project.csv")

In [19]:
#read project.csv and print dataframe
df = pd.read_csv("Project.csv")
print(df)

   Unnamed: 0 first_name last_name  age preTestScore postTestScore
0           0      Jason    Miller   42            4        25,000
1           1      Molly  Jacobson   52           24        94,000
2           2       Tina         .   36           31            57
3           3       Jake    Milner   24            .            62
4           4        Amy     Cooze   73            .            70

In [23]:
#Read the project.csv file without column heading
df = pd.read_csv("Project.csv", header = None)
print(df)

     0           1          2    3             4              5
0  NaN  first_name  last_name  age  preTestScore  postTestScore
1  0.0       Jason     Miller   42             4         25,000
2  1.0       Molly   Jacobson   52            24         94,000
3  2.0        Tina          .   36            31             57
4  3.0        Jake     Milner   24             .             62
5  4.0         Amy      Cooze   73             .             70

In [31]:
#Read the project.csv file and make two index columns, namely, ‘First Name’ and ‘Last Name’
df = pd.read_csv('Project.csv', index_col=['First Name', 'Last Name'], names=['UID', 'First Name', 'Last Name', 'Age', 'Pre-Test Score', 'Post-Test Score'])
print(df)

                      UID  Age Pre-Test Score Post-Test Score
First Name Last Name
first_name last_name  NaN  age   preTestScore   postTestScore
Jason      Miller     0.0   42              4          25,000
Molly      Jacobson   1.0   52             24          94,000
Tina       .          2.0   36             31              57
Jake       Milner     3.0   24              .              62
Amy        Cooze      4.0   73              .              70

In [33]:
#Print the data frame in a Boolean form as True or False. True for Null/ NaN values and false for non-null values
df = pd.read_csv('Project.csv', na_values=['.'])
print(pd.isnull(df))

   Unnamed: 0  first_name  last_name    age  preTestScore  postTestScore
0       False       False      False  False         False          False
1       False       False      False  False         False          False
2       False       False       True  False         False          False
3       False       False      False  False          True          False
4       False       False      False  False          True          False

In [34]:
#Read the data frame by skipping the first 3 rows and print the data frame
df = pd.read_csv('Project.csv', skiprows=3)
print(df)

   2  Tina       .  36 31  57
0  3  Jake  Milner  24  .  62
1  4   Amy   Cooze  73  .  70