<a href="https://colab.research.google.com/github/manognansr/ML-Practice/blob/main/module3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Module 3a

In [1]:
import numpy, pandas

In [2]:
df = pandas.read_csv('mtcars.csv' , delimiter = ',')
print(df)

                  model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[32 rows x 12 columns]

In [3]:
horsepower = numpy.array(df['hp'])
print(horsepower)

[110 110  93 110 175 105 245  62  95 123 123 180 180 180 205 215 230  66
  52  65  97 150 150 245 175  66  91 113 264 175 335 109]

In [4]:
ty = df['hp'].dtype
print(ty)

int64

In [5]:
avg = df['hp'].mean()
print(avg)

146.6875

Module 3b

In [6]:
df[['mpg','hp']].groupby(['hp']).describe()

      mpg
    count       mean       std   min     25%    50%     75%   max
hp
52    1.0  30.400000       NaN  30.4  30.400  30.40  30.400  30.4
62    1.0  24.400000       NaN  24.4  24.400  24.40  24.400  24.4
65    1.0  33.900000       NaN  33.9  33.900  33.90  33.900  33.9
66    2.0  29.850000  3.606245  27.3  28.575  29.85  31.125  32.4
91    1.0  26.000000       NaN  26.0  26.000  26.00  26.000  26.0
93    1.0  22.800000       NaN  22.8  22.800  22.80  22.800  22.8
95    1.0  22.800000       NaN  22.8  22.800  22.80  22.800  22.8
97    1.0  21.500000       NaN  21.5  21.500  21.50  21.500  21.5
105   1.0  18.100000       NaN  18.1  18.100  18.10  18.100  18.1
109   1.0  21.400000       NaN  21.4  21.400  21.40  21.400  21.4
110   3.0  21.133333  0.230940  21.0  21.000  21.00  21.200  21.4
113   1.0  30.400000       NaN  30.4  30.400  30.40  30.400  30.4
123   2.0  18.500000  0.989949  17.8  18.150  18.50  18.850  19.2
150   2.0  15.350000  0.212132  15.2  15.275  15.35  15.425  15.5
175   3.0  19.200000  0.500000  18.7  18.950  19.20  19.450  19.7
180   3.0  16.300000  1.053565  15.2  15.800  16.40  16.850  17.3
205   1.0  10.400000       NaN  10.4  10.400  10.40  10.400  10.4
215   1.0  10.400000       NaN  10.4  10.400  10.40  10.400  10.4
230   1.0  14.700000       NaN  14.7  14.700  14.70  14.700  14.7
245   2.0  13.800000  0.707107  13.3  13.550  13.80  14.050  14.3
264   1.0  15.800000       NaN  15.8  15.800  15.80  15.800  15.8
335   1.0  15.000000       NaN  15.0  15.000  15.00  15.000  15.0

In [7]:
df[['mpg','hp']].groupby(['hp']).describe().unstack()

            hp
mpg  count  52      1.0
            62      1.0
            65      1.0
            66      2.0
            91      1.0
                   ...
     max    215    10.4
            230    14.7
            245    14.3
            264    15.8
            335    15.0
Length: 176, dtype: float64

In [8]:
df[['mpg','hp']].corr()

          mpg        hp
mpg  1.000000 -0.776168
hp  -0.776168  1.000000